import site
# virtualenv packages
site.addsitedir('/home/philipforget/workspace/prowser/lib/python2.6/site-packages')
# the actual project root
site.addsitedir('/home/philipforget/workspace/prowser')

import os
os.chdir(os.path.dirname(__file__))

from prowser import *

application = bottle.default_app()
