html, body, div, h1, h2, h3, h4, h5, ul, ol, li, p, span, a, img {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
}

body {
	font-family: Helvetica, Arial, sans-serif;
	margin: 20px;
}

div.wrapper {
	width: 100%;
}

div.content {
	margin: 0 auto;
	width: 600px;
}

h1 {
	font-size: 50px;
	margin-bottom: 15px;
}

h2 {
	margin-bottom: 15px;
	border-bottom: 3px solid;
}

p {
	padding-bottom: 15px;
	margin-bottom: 15px;
}

a img {
	margin-bottom: 15px;
}

ul {
	list-style: none;
	margin-bottom: 30px;
}

ul li {
	margin-bottom: 15px;
	border-bottom: 1px solid #ddd;
	text-align: right;
}

span.key {
	float: left;
	color: #444;
}
