#chevalierforget {
	width: 800px;
	background-color: #590031;
	border-radius: 20px;
	padding: 20px;
	background-image: url(/static/giza.gif);
}

#chevalierforget .description {
	margin: 60px auto;
	width: 600px;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	background: rgba(255,255,255,0.8);
	padding: 20px;
	border-radius: 10px;
}

#chevalierforget h1 {
	font-size: 48px;
}

#chevalierforget ol {
	list-style: none;
}
	#chevalierforget ol li {
		background: rgba(255,255,255,0.5);
		border-radius: 10px;
		padding: 5px;
		display: inline-block;
		margin: 5px;
	}

	#chevalierforget ol li:hover {
		background: rgba(255,255,255,0.8);
	}
